attrs==23.2.0
docker_py==1.10.6
fire==0.6.0
GitPython==3.1.43
GitPython==3.1.43
inputimeout==1.0.4
jax==0.4.31
jaxlib==0.4.31
networkx==3.3
nltk==3.8.1
numpy==2.0.1
openai==1.37.1
pandas==2.2.2
Pebble==5.0.7
pycg==0.0.8
PyCG==0.0.8
pydantic==2.8.2
PyYAML==6.0.1
PyYAML==6.0.1
rich==13.7.1
rpyc==6.0.0
tensorflow==2.17.0
tiktoken==0.6.0
torch==2.4.0
tqdm==4.66.4
typing_extensions==4.12.2
vllm==0.5.3.post1
